<section class="<%= basecamp_blank_slate%>">
 <div class="<%= basecamp_icon %> <%= basecamp_type(:type) %>">
    <%= rui_icon(name: icon_name, classes: 'basecamp_icon_diminsions') %>
  </div>
  <div class="<%=basecamp_content%>">
    <p class="<%=basecamp_title%>"><%= title %></p>
    <p class="<%=basecamp_message%>"><%= message %></p>
  </div>
</section>
