<div class="relative -mt-40 transition duration-300 ease-in-out bg-livid_brown-950 dark:bg-gray-900" id="home">
  <img alt="Toronto" src="assets/toronto_bg_01.jpg" class="absolute inset-0 object-cover w-full h-full transition-opacity bg-center bg-no-repeat opacity-20" />
  <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
    <div class="blur-[106px] h-56 bg-gradient-to-br from-primary-400 to-purple-400 dark:from-blue-700"></div>
    <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
  </div>
    <div class="px-6 pt-40 mx-auto max-w-8xl md:px-12 xl:px-6">
    <div class="relative ml-auto pt-36">
      <div class="mx-auto mb-20 text-center lg:w-2/3">
        <h6 class="mb-8 text-xl font-bold tracking-wide text-toronto_blue-400 drop-shadow-md md:text-3xl font-zodiak">SEPTEMBER 26 - 27</h6>
        <h1 class="text-5xl tracking-wide text-white drop-shadow-md md:text-6xl xl:text-9xl">Shaping a world with <span class="text-primary-600 drop-shadow-xl">Ruby on Rails</span></h1>
        <p class="max-w-3xl mx-auto mt-8 mt-10 text-2xl font-medium tracking-tight text-white drop-shadow-xl"><span class="font-black tracking-tight"><a class="my-2 underline hover:no-underline text-primary-400" href="https://twitter.com/search?q=%23railsworld" target="_blank">#RailsWorld</a></span> is a two-day, two track community conference featuring technical talks, demos, workshops, networking, and keynotes about the latest features and best practices in Rails development.</p>
        <div class="flex flex-wrap justify-center mt-16 gap-y-4 gap-x-6">
          <a href="#" class="relative flex items-center justify-center w-full px-6 h-11 before:absolute before:inset-0 before:rounded-full before:bg-primary-600 before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max">
            <span class="relative text-base font-semibold text-white">Get started</span>
          </a>
        </div>

        <div class="flex flex-col items-center mx-auto my-12">
          <span class="text-sm font-medium text-gray-300">Brought to you by</span>
          <a class="flex flex-col items-center my-2" href="https://rapidrails.cc/agency">
            <%= image_tag '/assets/RRUI_logo.png', class:"h-auto w-12 rounded-full hover:scale-105 transition duration-300", alt: 'RapidRailsUI buttons code examples', title: 'RapidRails UI Components Kit'%>
            <span class="mt-2 font-medium tracking-widest text-white font-tanker">RapidRails</span>
            <svg width="100" height="24" class="-mt-4 text-indigo-400" viewBox="0 0 140 46" xmlns="http://www.w3.org/2000/svg">
              <g fill="currentColor" >
                <path d="M139.643 39.509a1.48 1.48 0 0 0-.713-.994 1.75 1.75 0 0 0-1.283-.195 6.816 6.816 0 0 1-3.03.201c-1.273-.15-2.62-.26-3.928-.385a243.51 243.51 0 0 0-6.593-.552c-2.408-.168-4.825-.285-7.233-.435-2.27-.143-4.532-.327-6.802-.427a728.654 728.654 0 0 0-14.402-.494c-4.002-.126-17.918-.268-21.929-.218-2.81 0-5.612.118-8.414.151-3.717 0-17.34.285-21.058.485-3.964.193-7.947.318-11.903.57-3.662.225-7.324.376-10.932.619a17.04 17.04 0 0 0-2.472.234c-2.151 0-4.056.184-5.97.276-1.519.076-3.076.11-4.577.318-.632 0-.916-.334-1.895-.217-.98.117-1.896.385-1.941.887-.504.1 0 .343-.568.435v.393c.394.168.513.343 0 .553v.159c.311-.117.357 0 .513.058v.327c-.367.159-.147.31-.083.452.064.142.458.368.385.594-.08.409.102.824.467 1.071v.192c.1.586.961 1.072 1.08 1.674.092.46.916.837 2.115.745 1.026-.05 1.383-.444 2.317-.569.174 0 .741-.075.915-.084 3.873-.234 7.746-.493 11.591-.837 1.136-.092 2.363-.067 3.406-.25 1.374-.243 2.811-.243 4.203-.42a68.667 68.667 0 0 1 7.91-.418c2.207 0 4.368-.217 6.556-.3 1.218-.051 2.435.05 3.662-.068.474-.081.956-.12 1.438-.117 1.309.075 12.507-.1 13.825-.092 2.554 0 5.109-.117 7.654-.142 3.022-.05 15.895-.143 18.934 0 1.035 0 2.115.175 3.086.125 2.847-.142 5.667.084 8.496.143 2.482.05 4.935.259 7.426.326 2.49.067 4.78.192 7.141.427.916.092 1.905.209 2.884.293.77.067 1.291-.176 2.024-.092 1.831.226 3.763.385 5.686.51.996.024 1.99.102 2.975.234 1.428.273 2.875.458 4.33.553l.916.301c.784.354 1.68.44 2.527.243.48-.288.704-.824.559-1.33v-.152c.091-.125.174-.259.082-.401.238-.084.257-.184.193-.31.228-.477.65-.929.402-1.456-.1-.21-.357-.519.385-.661v-.394c-.357-.041-.394-.159-.467-.267.037-.436.092-.854.11-1.272zm-67.277 1.054z" class="swoosh"></path>
              </g>
            </svg>
          </a>
        </div>

        <div class="justify-between hidden py-6 mt-16 border-gray-100 border-y dark:border-gray-800 sm:flex">

            <div class="text-center">
              <div class="flex items-center justify-center">
                <%= image_tag "/assets/icons/map-pin_o", class:"inline-flex h-6 h-6 mr-2 text-red-200", role:"presentation", alt: "RailsWorld conference tracks", title: "RailsWorld conference tracks" %>
                <h6 class="inline-block text-2xl font-medium text-white">TRACKS</h6>
              </div>
              <p class="mt-2 text-gray-300">Some text here Some text here</p>
            </div>

            <div class="text-center">
              <div class="flex items-center justify-center">
                <%= image_tag "/assets/map-pin_o.svg", class:"inline-flex h-6 h-6 mr-2 text-white", role:"presentation", alt: "RailsWord in Toronto Canada", title: "RailsWord in Toronto Canada" %>
                <h6 class="inline-block text-2xl font-medium text-white">TORONTO</h6>
              </div>
              <p class="mt-2 text-gray-300">Get arround and explore the city</p>
            </div>

            <div class="text-center">
              <div class="flex items-center justify-center">
                <%= image_tag "/assets/chat-bubble-left-right_o.svg", class:"inline-flex h-6 h-6 mr-2 text-red-200", role:"presentation", alt: "RailsWorld basecampfire", title: "RailsWorld basecampfire" %>
                <h6 class="inline-block text-2xl font-medium text-white">CONNECT</h6>
              </div>
              <p class="mt-2 text-gray-300">Gather around our Basecamp campfire</p>
            </div>
        </div>
      </div>

      <div class="mx-auto mt-12 text-center lg:max-w-6xl">
        <div class="grid grid-cols-2 mt-12 sm:grid-cols-4 md:grid-cols-5">
          <div class="flex p-4">
            <a href="https://basecamp.com/?ref=rapidrails.cc/agency" aria-label="Basecamp" class="transition duration-300 border border-gray-400 rounded-lg cursor-pointer bg-livid_brown-300/50 hover:bg-primary-300 hover:scale-105">
              <img src="https://rubyonrails.org/assets/images/logo-basecamp.svg" class="w-auto h-20 mx-auto" loading="lazy" alt="Basecamp">
            </a>
          </div>
          <div class="flex p-4">
            <a href="https://hey.com/?ref=rapidrails.cc/agency" aria-label="Hey"  class="transition duration-300 border border-gray-400 rounded-lg cursor-pointer bg-livid_brown-300/50 hover:bg-primary-300 hover:scale-105">
              <img src="https://rubyonrails.org/assets/images/logo-hey.svg" class="w-auto h-20 mx-auto" loading="lazy" alt="Hey">
            </a>
          </div>
          <div class="flex p-4">
            <a href="https://shopify.com/?ref=rapidrails.cc/agency" aria-label="Shopify"  class="transition duration-300 border border-gray-400 rounded-lg cursor-pointer bg-livid_brown-300/50 hover:bg-primary-300 hover:scale-105">
              <img src="https://rubyonrails.org/assets/images/logo-github.svg" class="w-auto h-20 mx-auto" loading="lazy" alt="client logo">
            </a>
          </div>
          <div class="flex p-4">
            <a href="https://dribbble.com/?ref=rapidrails.cc/agency" aria-label="dribbble"  class="transition duration-300 border border-gray-400 rounded-lg cursor-pointer bg-livid_brown-300/50 hover:bg-primary-300 hover:scale-105">
              <img src="https://rubyonrails.org//assets/images/logo-dribbble.svg" alt="dribbble" class="w-auto h-20 mx-auto" loading="lazy">
            </a>
          </div>
          <div class="flex p-4">
          <a href="https://airbnb.com/?ref=rapidrails.cc/agency" aria-label="Airbnb"  class="transition duration-300 border border-gray-400 rounded-lg cursor-pointer bg-livid_brown-300/50 hover:bg-primary-300 hover:scale-105">
            <img src="https://rubyonrails.org/assets/images/logo-airbnb.svg" class="w-auto h-20 mx-auto" loading="lazy" alt="Airbnb">
            </a>
          </div>

          <div class="flex p-4">
            <a href="https://soundcloud.com/?ref=rapidrails.cc/agency" aria-label="Soundcloud" class="transition duration-300 border border-gray-400 rounded-lg cursor-pointer bg-livid_brown-300/50 hover:bg-primary-300 hover:scale-105">
              <img src="https://rubyonrails.org/assets/images/logo-soundcloud.svg" class="w-auto h-20 mx-auto" loading="lazy" alt="Soundcloud">
            </a>
          </div>
          <div class="flex p-4">
            <a href="https://cookpad.com/?ref=rapidrails.cc/agency" aria-label="Cookpad" class="transition duration-300 border border-gray-400 rounded-lg cursor-pointer bg-livid_brown-300/50 hover:bg-primary-300 hover:scale-105">
              <img src="https://rubyonrails.org/assets/images/logo-cookpad.svg" class="w-auto h-20 mx-auto" loading="lazy" alt="Cookpad">
            </a>
          </div>
          <div class="flex p-4">
            <a href="https://Heroku.com/?ref=rapidrails.cc/agency" aria-label="Heroku"  class="transition duration-300 border border-gray-400 rounded-lg cursor-pointer bg-livid_brown-300/50 hover:bg-primary-300 hover:scale-105">
              <img src="https://rubyonrails.org/assets/images/logo-heroku.svg" class="w-auto h-20 mx-auto" loading="lazy" alt="Heroku">
            </a>
          </div>
          <div class="flex p-4">
            <a href="https://squareup.com/?ref=rapidrails.cc/agency/agency" aria-label="square"  class="transition duration-300 border border-gray-400 rounded-lg cursor-pointer bg-livid_brown-300/50 hover:bg-primary-300 hover:scale-105">
              <img src="https://rubyonrails.org/assets/images/logo-square.svg" class="w-auto h-20 mx-auto" loading="lazy" alt="square">
            </a>
          </div>
          <div class="flex p-4">
            <a href="https://coinbase.com/?ref=rapidrails.cc/agency" aria-label="Coinbase"class="transition duration-300 border border-gray-400 rounded-lg cursor-pointer bg-livid_brown-300/50 hover:bg-primary-300 hover:scale-105">
              <img src="https://rubyonrails.org/assets/images/logo-coinbase.svg" class="w-auto h-20 mx-auto" loading="lazy" alt="Coinbase">
            </a>
          </div>
        </div>
      </div>

  </div>
</div>
</div>
		<div id="features">
  <div class="px-6 mx-auto max-w-7xl md:px-12 xl:px-6">
    <div class="md:w-2/3 lg:w-1/2">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-toronto_blue-600">
        <path fill-rule="evenodd" d="M9 4.5a.75.75 0 01.721.544l.813 2.846a3.75 3.75 0 002.576 2.576l2.846.813a.75.75 0 010 1.442l-2.846.813a3.75 3.75 0 00-2.576 2.576l-.813 2.846a.75.75 0 01-1.442 0l-.813-2.846a3.75 3.75 0 00-2.576-2.576l-2.846-.813a.75.75 0 010-1.442l2.846-.813A3.75 3.75 0 007.466 7.89l.813-2.846A.75.75 0 019 4.5zM18 1.5a.75.75 0 01.728.568l.258 1.036c.236.94.97 1.674 1.91 1.91l1.036.258a.75.75 0 010 1.456l-1.036.258c-.94.236-1.674.97-1.91 1.91l-.258 1.036a.75.75 0 01-1.456 0l-.258-1.036a2.625 2.625 0 00-1.91-1.91l-1.036-.258a.75.75 0 010-1.456l1.036-.258a2.625 2.625 0 001.91-1.91l.258-1.036A.75.75 0 0118 1.5zM16.5 15a.75.75 0 01.712.513l.394 1.183c.15.447.5.799.948.948l1.183.395a.75.75 0 010 1.422l-1.183.395c-.447.15-.799.5-.948.948l-.395 1.183a.75.75 0 01-1.422 0l-.395-1.183a1.5 1.5 0 00-.948-.948l-1.183-.395a.75.75 0 010-1.422l1.183-.395c.447-.15.799-.5.948-.948l.395-1.183A.75.75 0 0116.5 15z" clip-rule="evenodd"></path>
      </svg>

      <h2 class="my-8 text-2xl md:text-6xl">
        A technology-first approach to payments
        and finance
      </h2>
      <p class="text-gray-600 dark:text-gray-300">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ad ipsum pariatur autem, fugit laborum in atque amet obcaecati? Nisi minima aspernatur, quidem nulla cupiditate nam consequatur eligendi magni adipisci.</p>
    </div>

    <div class="grid mt-16 overflow-hidden text-gray-600 border border-gray-100 divide-x divide-y divide-gray-100 dark:divide-gray-700 rounded-3xl dark:border-gray-700 sm:grid-cols-2 lg:grid-cols-4 lg:divide-y-0 xl:grid-cols-4">


      <%= rui_card(width: :xl) do |card| %>
        <% card.with_header do |header| %>
          <%= header.with_text(tag: :h1, size: :heading2Xl,font_weight: :bold, color: :bnw) { "Rails, the One-Person Framework" } %>
        <% end %>
        <% card.with_region(labelledby: "Rails labelledby") do |region| %>
          <%= region.with_text(tag: :body, size: :bodyMd, truncate: true, length: 240){"Rails is a full-stack framework. It ships with all the tools needed to build amazing web apps on both the front and back end. Rendering HTML templates, updating databases, sending and receiving emails, maintaining live pages via WebSockets, enqueuing jobs for asynchronous work, storing uploads in the cloud, providing solid security protections for common attacks. Rails does it all and so much more."} %>
        <% end %>
        <% card.with_footer do %>
          <%= rui_button(style: 'primary', size: :sm, url: "https://rubyonrails.org", external: true) do |btn| %>
            Learn more
            <% btn.with_icon(name: "arrow_right_o", position: :trailing, classes: 'w-3.5 h-3.5')%>
          <% end %>

        <% end %>
      <% end %>



      <div class="group relative bg-white dark:bg-rose-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-rose-600/10">
        <div class="relative p-8 py-12 space-y-8">
          <img src="https://cdn-icons-png.flaticon.com/512/4341/4341139.png" class="w-12" width="512" height="512" alt="burger illustration">

          <div class="space-y-2">
            <h5 class="text-xl font-semibold text-gray-700 transition dark:text-white group-hover:text-toronto_blue-600">
              First feature
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              Neque Dolor, fugiat non cum doloribus aperiam voluptates nostrum.
            </p>
          </div>
          <a href="#" class="flex items-center justify-between group-hover:text-toronto_blue-600">
            <span class="text-sm">Read more</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 text-2xl transition duration-300 -translate-x-4 opacity-0 group-hover:translate-x-0 group-hover:opacity-100">
              <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
      </div>
      <div class="group relative bg-white dark:bg-rose-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-rose-600/10">
        <div class="relative p-8 py-12 space-y-8">
          <img src="https://cdn-icons-png.flaticon.com/512/4341/4341134.png" class="w-12" width="512" height="512" alt="burger illustration">

          <div class="space-y-2">
            <h5 class="text-xl font-semibold text-gray-700 transition dark:text-white group-hover:text-toronto_blue-600">
              Second feature
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              Neque Dolor, fugiat non cum doloribus aperiam voluptates nostrum.
            </p>
          </div>
          <a href="#" class="flex items-center justify-between group-hover:text-toronto_blue-600">
            <span class="text-sm">Read more</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 text-2xl transition duration-300 -translate-x-4 opacity-0 group-hover:translate-x-0 group-hover:opacity-100">
              <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
      </div>
      <div class="group relative bg-white dark:bg-rose-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-rose-600/10">
        <div class="relative p-8 py-12 space-y-8">
          <img src="https://cdn-icons-png.flaticon.com/512/4341/4341160.png" class="w-12" width="512" height="512" alt="burger illustration">

          <div class="space-y-2">
            <h5 class="text-xl font-semibold text-gray-700 transition dark:text-white group-hover:text-toronto_blue-600">
              Third feature
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              Neque Dolor, fugiat non cum doloribus aperiam voluptates nostrum.
            </p>
          </div>
          <a href="#" class="flex items-center justify-between group-hover:text-toronto_blue-600">
            <span class="text-sm">Read more</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 text-2xl transition duration-300 -translate-x-4 opacity-0 group-hover:translate-x-0 group-hover:opacity-100">
              <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
      </div>
      <div class="group relative bg-gray-50 dark:bg-rose-900 transition hover:z-[1] hover:shadow-2xl hover:shadow-rose-600/10">
        <div class="relative p-8 py-12 space-y-8 transition duration-300 group-hover:bg-white dark:group-hover:bg-gray-800">
          <img src="https://cdn-icons-png.flaticon.com/512/4341/4341025.png" class="w-12" width="512" height="512" alt="burger illustration">

          <div class="space-y-2">
            <h5 class="text-xl font-semibold text-gray-700 transition dark:text-white group-hover:text-toronto_blue-600">
              More features
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              Neque Dolor, fugiat non cum doloribus aperiam voluptates nostrum.
            </p>
          </div>
          <a href="#" class="flex items-center justify-between group-hover:text-toronto_blue-600">
            <span class="text-sm">Read more</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 text-2xl transition duration-300 -translate-x-4 opacity-0 group-hover:translate-x-0 group-hover:opacity-100">
              <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
</div>
</div>
		<div id="solution">
    <div class="px-6 mx-auto max-w-7xl md:px-12 xl:px-6">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-sky-500">
        <path fill-rule="evenodd" d="M2.25 13.5a8.25 8.25 0 018.25-8.25.75.75 0 01.75.75v6.75H18a.75.75 0 01.75.75 8.25 8.25 0 01-16.5 0z" clip-rule="evenodd"></path>
        <path fill-rule="evenodd" d="M12.75 3a.75.75 0 01.75-.75 8.25 8.25 0 018.25 8.25.75.75 0 01-.75.75h-7.5a.75.75 0 01-.75-.75V3z" clip-rule="evenodd"></path>
      </svg><div class="flex-row-reverse justify-between space-y-6 text-gray-600 md:flex md:gap-6 md:space-y-0 lg:gap-12 lg:items-center">
        <div class="md:5/12 lg:w-1/2">
          <img src="assets/railsworld_info_toronto.jpeg" alt="image" loading="lazy" class="w-full">
        </div>
        <div class="md:7/12 lg:w-1/2">
          <h2 class="text-3xl md:text-6xl">
            Toronto welcomes you to Rails World 🤗
          </h2>
          <p class="my-8 text-gray-600 dark:text-gray-300">
            Nobis minus voluptatibus pariatur dignissimos libero quaerat iure expedita at?
            Asperiores nemo possimus nesciunt dicta veniam aspernatur quam mollitia. <br> <br> Vitae error, quaerat officia delectus voluptatibus explicabo quo pariatur impedit, at reprehenderit aliquam a ipsum quas voluptatem. Quo pariatur asperiores eum amet.
          </p>
          <div class="space-y-4 divide-y divide-gray-100 dark:divide-gray-800">
            <div class="flex gap-4 mt-8 md:items-center">
              <div class="flex w-12 h-12 gap-4 bg-indigo-100 rounded-full dark:bg-indigo-900/20">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 m-auto text-indigo-500 dark:text-indigo-400">
                  <path fill-rule="evenodd" d="M4.848 2.771A49.144 49.144 0 0112 2.25c2.43 0 4.817.178 7.152.52 1.978.292 3.348 2.024 3.348 3.97v6.02c0 1.946-1.37 3.678-3.348 3.97a48.901 48.901 0 01-3.476.383.39.39 0 00-.297.17l-2.755 4.133a.75.75 0 01-1.248 0l-2.755-4.133a.39.39 0 00-.297-.17 48.9 48.9 0 01-3.476-.384c-1.978-.29-3.348-2.024-3.348-3.97V6.741c0-1.946 1.37-3.68 3.348-3.97zM6.75 8.25a.75.75 0 01.75-.75h9a.75.75 0 010 1.5h-9a.75.75 0 01-.75-.75zm.75 2.25a.75.75 0 000 1.5H12a.75.75 0 000-1.5H7.5z" clip-rule="evenodd"></path>
                </svg>
              </div>
              <div class="w-5/6">
                <h3 class="text-lg font-semibold text-gray-700 dark:text-indigo-300">Chat Anytime</h3>
                <p class="text-gray-500 dark:text-gray-400">Asperiores nemo possimus nesciunt quam mollitia.</p>
              </div>
            </div>
            <div class="flex gap-4 pt-4 md:items-center">
              <div class="flex w-12 h-12 gap-4 bg-teal-100 rounded-full dark:bg-teal-900/20">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 m-auto text-teal-600 dark:text-teal-400">
                  <path fill-rule="evenodd" d="M11.54 22.351l.07.04.028.016a.76.76 0 00.723 0l.028-.015.071-.041a16.975 16.975 0 001.144-.742 19.58 19.58 0 002.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 00-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 002.682 2.282 16.975 16.975 0 001.145.742zM12 13.5a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"></path>
                </svg>
              </div>
              <div class="w-5/6">
                <h3 class="text-lg font-semibold text-gray-700 dark:text-teal-300">Real Time Location</h3>
                <p class="text-gray-500 dark:text-gray-400">Asperiores nemo possimus nesciunt quam mollitia.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
</div>
		<div class="text-gray-600 dark:text-gray-300" id="reviews">
  <div class="px-6 mx-auto max-w-7xl md:px-12 xl:px-6">
    <div class="px-6 mb-20 space-y-4 md:px-0">
      <h2 class="text-2xl font-bold text-center text-gray-800 dark:text-white md:text-4xl">
        We have some fans.
      </h2>
    </div><div class="gap-8 space-y-8 md:columns-2 lg:columns-3">
      <div class="p-8 bg-white border border-gray-100 shadow-2xl aspect-auto rounded-3xl dark:bg-gray-800 dark:border-gray-700 shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="https://pbs.twimg.com/profile_images/1507269453192511488/aTnmu7WY_400x400.jpg" alt="user avatar" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Daniella Doe</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Mobile dev</p>
          </div>
        </div>
        <p class="mt-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum aliquid quo eum quae quos illo earum ipsa doloribus nostrum minus libero aspernatur laborum cum, a suscipit, ratione ea totam ullam! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto laboriosam deleniti aperiam ab veniam sint non cumque quis tempore cupiditate. Sint libero voluptas veniam at reprehenderit, veritatis harum et rerum.</p>
      </div>
      <div class="p-8 bg-white border border-gray-100 shadow-2xl aspect-auto rounded-3xl dark:bg-gray-800 dark:border-gray-700 shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="https://pbs.twimg.com/profile_images/1676396255730081793/lcd5E7fq_400x400.jpg" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Jane doe</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Marketing</p>
          </div>
        </div>
        <p class="mt-8"> Lorem ipsum dolor laboriosam deleniti aperiam ab veniam sint non cumque quis tempore cupiditate. Sint libero voluptas veniam at reprehenderit, veritatis harum et rerum.</p>
      </div>
      <div class="p-8 bg-white border border-gray-100 shadow-2xl aspect-auto rounded-3xl dark:bg-gray-800 dark:border-gray-700 shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="https://pbs.twimg.com/profile_images/1720845813817974784/P5s7rJi0_400x400.jpg" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Yanick Doe</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Developer</p>
          </div>
        </div>
        <p class="mt-8">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto laboriosam deleniti aperiam ab veniam sint non cumque quis tempore cupiditate. Sint libero voluptas veniam at reprehenderit, veritatis harum et rerum.</p>
      </div>
      <div class="p-8 bg-white border border-gray-100 shadow-2xl aspect-auto rounded-3xl dark:bg-gray-800 dark:border-gray-700 shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="https://pbs.twimg.com/profile_images/1694312319835099136/PFBtmsbf_400x400.jpg" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Jane Doe</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Mobile dev</p>
          </div>
        </div>
        <p class="mt-8">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto laboriosam deleniti aperiam ab veniam sint non cumque quis tempore cupiditate. Sint libero voluptas veniam at reprehenderit, veritatis harum et rerum.</p>
      </div>
      <div class="p-8 bg-white border border-gray-100 shadow-2xl aspect-auto rounded-3xl dark:bg-gray-800 dark:border-gray-700 shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="https://pbs.twimg.com/profile_images/1673263361419558913/0yRpxvHV_400x400.jpg" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Andy Doe</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Manager</p>
          </div>
        </div>
        <p class="mt-8"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto laboriosam deleniti aperiam ab veniam sint non cumque quis tempore cupiditate. Sint libero voluptas veniam at reprehenderit, veritatis harum et rerum.</p>
      </div>
      <div class="p-8 bg-white border border-gray-100 shadow-2xl aspect-auto rounded-3xl dark:bg-gray-800 dark:border-gray-700 shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="https://pbs.twimg.com/profile_images/1659849327664136195/wlRIZcD6_400x400.jpg" alt="user avatar" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Yanndy Doe</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Mobile dev</p>
          </div>
        </div>
        <p class="mt-8">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto laboriosam deleniti aperiam ab veniam sint non cumque quis tempore cupiditate. Sint libero voluptas veniam at reprehenderit, veritatis harum et rerum.</p>
      </div>

    </div>
</div>
</div>
		<div class="relative py-16">
  <div aria-hidden="true" class="absolute inset-0 grid w-full grid-cols-2 m-auto h-max -space-x-52 opacity-40 dark:opacity-20">
    <div class="blur-[106px] h-56 bg-gradient-to-br from-primary-600 to-purple-400 dark:from-blue-700"></div>
    <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
  </div>
  <div class="px-6 mx-auto max-w-7xl md:px-12 xl:px-6">
    <div class="relative">
      <div class="flex items-center justify-center -space-x-2">
        <img loading="lazy" width="400" height="400" src="https://pbs.twimg.com/profile_images/1673263361419558913/0yRpxvHV_400x400.jpg" alt="member photo" class="object-cover w-8 h-8 rounded-full">
        <img loading="lazy" width="200" height="200" src="https://pbs.twimg.com/profile_images/1659849327664136195/wlRIZcD6_400x400.jpg" alt="member photo" class="object-cover w-12 h-12 rounded-full">
        <img loading="lazy" width="200" height="200" src="https://pbs.twimg.com/profile_images/1627690389258788864/NSvtphxd_400x400.jpg" alt="member photo" class="z-10 object-cover w-16 h-16 rounded-full">
        <img loading="lazy" width="200" height="200" src="https://pbs.twimg.com/profile_images/1507269453192511488/aTnmu7WY_400x400.jpg" alt="member photo" class="relative object-cover w-12 h-12 rounded-full">
        <img loading="lazy" width="200" height="200" src="https://pbs.twimg.com/profile_images/1694312319835099136/PFBtmsbf_400x400.jpg" alt="member photo" class="object-cover w-8 h-8 rounded-full">
      </div>
      <div class="m-auto mt-6 space-y-6 md:w-8/12 lg:w-7/12">
        <h1 class="text-4xl font-bold text-center text-gray-800 dark:text-white md:text-5xl">Get Started now</h1>
        <p class="text-xl text-center text-gray-600 dark:text-gray-300">
          Be part of millions people around the world using tailus in modern User Interfaces.
        </p>
        <div class="flex flex-wrap justify-center gap-6">
          <a href="#" class="relative flex items-center justify-center w-full h-12 px-8 before:absolute before:inset-0 before:rounded-full before:bg-primary-600 before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max">
              <span class="relative text-base font-semibold text-white dark:text-dark">Get Started</span>
            </a>
            <a href="#" class="relative flex items-center justify-center w-full h-12 px-8 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary-600/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max">
              <span class="relative text-base font-semibold text-primary-600 dark:text-white">More about</span>
          </a>
        </div>
      </div>
    </div>
</div>
</div>
		<div id="blog">
  <div class="px-6 mx-auto max-w-7xl md:px-12 xl:px-6">
    <div class="mb-12 space-y-2 text-center">
        <h2 class="text-3xl font-bold text-gray-800 md:text-4xl dark:text-white">Latest Articles</h2>
        <p class="text-gray-600 lg:mx-auto lg:w-6/12 dark:text-gray-300">
          Quam hic dolore cumque voluptate rerum beatae et quae, tempore sunt, debitis dolorum officia
          aliquid explicabo? Excepturi, voluptate?
        </p>
      </div><div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
        <div class="p-6 bg-white bg-opacity-50 border border-gray-100 shadow-2xl group sm:p-8 rounded-3xl dark:shadow-none dark:border-gray-700 dark:bg-gray-800 shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="https://images.unsplash.com/photo-1661749711934-492cd19a25c3?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1674&amp;q=80" alt="art cover" loading="lazy" width="1000" height="667" class="object-cover object-top w-full h-64 transition duration-500 group-hover:scale-105">
          </div>
          <div class="relative mt-6">
            <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
              De fuga fugiat lorem ispum laboriosam expedita.
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              Voluptates harum aliquam totam, doloribus eum impedit atque! Temporibus...
            </p>
            <a class="inline-block" href="#">
              <span class="text-info dark:text-blue-300">Read more</span>
            </a>
          </div>

        </div>
        <div class="p-6 bg-white bg-opacity-50 border border-gray-100 shadow-2xl group sm:p-8 rounded-3xl dark:shadow-none dark:border-gray-700 dark:bg-gray-800 shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="https://images.unsplash.com/photo-1491895200222-0fc4a4c35e18?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1674&amp;q=80" alt="art cover" loading="lazy" width="1000" height="667" class="object-cover object-top w-full h-64 transition duration-500 group-hover:scale-105">
          </div>
          <div class="relative mt-6">
            <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
              De fuga fugiat lorem ispum laboriosam expedita.
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              Voluptates harum aliquam totam, doloribus eum impedit atque! Temporibus...
            </p>
            <a class="inline-block" href="#">
              <span class="text-info dark:text-blue-300">Read more</span>
            </a>
          </div>

        </div>
        <div class="p-6 bg-white bg-opacity-50 border border-gray-100 shadow-2xl group sm:p-8 rounded-3xl dark:shadow-none dark:border-gray-700 dark:bg-gray-800 shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="https://images.unsplash.com/photo-1620121692029-d088224ddc74?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=2832&amp;q=80" alt="art cover" loading="lazy" width="1000" height="667" class="object-cover object-top w-full h-64 transition duration-500 group-hover:scale-105">
          </div>
          <div class="relative mt-6">
            <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
              De fuga fugiat lorem ispum laboriosam expedita.
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              Voluptates harum aliquam totam, doloribus eum impedit atque! Temporibus...
            </p>
            <a class="inline-block" href="#">
              <span class="text-info dark:text-blue-300">Read more</span>
            </a>
          </div>

        </div>
      </div>
</div>
</div>

